﻿body
{
	font-family: verdana;
	font-size: 12px;
}

table
{
	font-size: 12px;
}

td
{
	padding: 7px;
}

.topmenu
{
	color: darkgreen;
}

.topmenu a
{
	color: darkgreen;
	text-decoration: none;
	padding:10px;
	background-color:#BBBBFF;
	margin-left:3px;
}

.topmenu a:hover
{
	text-decoration: underline;
	background-color:#FFBBBB;
}

.maindiv
{
	padding: 10px;
}